[user]
	email = andrzej3393@gmail.com
	name = andrzej3393
[push]
	default = matching
[color]
	ui = true
[branch]
	autosetuprebase = always
[core]
	excludesfile = ~/.gitignore
[alias]
	co = checkout
	st = status
	br = branch
	ci = commit
