[alias]
    co = checkout
    st = status
    uncommit = reset --soft HEAD~1
    root = rev-parse --show-toplevel
[branch]
    autosetuprebase = always
    sort = -committerdate
[color]
    ui = true
[commit]
    gpgsign = true
[core]
    excludesfile = ~/.gitignore
[diff]
    colorMoved = zebra
    colorMovedWS = allow-indentation-change
    context = 10
[difftool]
    prompt = false
[fetch]
    prune = true
[gpg]
    format = ssh
[help]
    autocorrect = prompt
[log]
    date = iso
[pull]
    rebase = true
[push]
    default = current
    autoSetupRemote = true
[rebase]
    autosquash = true
    autostash = true
[rerere]
    enabled = true
[status]
    showUntrackedFiles = all
