[push]
    default = matching
[color]
    ui = true
[branch]
    autosetuprebase = always
[core]
    excludesfile = ~/.gitignore
[alias]
    co = checkout
    st = status
    br = branch
    ci = commit
[diff]
    tool = meld
    colorMoved = zebra
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
